
.header{
    background-color: var(--gray);
    height: 3.5rem;
}

.header img{
    max-width: 3.5rem;
    float: left;
}

.navbar{
    display: flex;
    list-style: none;
    gap: 1rem;
    text-align: center;
    float: left;
}

.link{
    color: var(--white);
    font-family: sans-serif;
    margin: 1rem;
    cursor: pointer;
}

.buttons{
    display: flex;
    float: right;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btn{
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
    width: 5rem;
    height: 1.5rem;
    background-color: var(--yellow);
}